
.style {
  display: flex;  
  position: relative;
  flex-wrap: wrap;
  width: 700px;
  height: 460px;
  margin-top: 1px;
  margin-bottom:  30px;
  margin-left: 300px;
  justify-content: flex-end;
  background-color: #E0E0E0;
};

.styleGroup1 {
  width: 598px;
  height: 90px;
  margin-top: 1px;
  border: 1px solid gray;
  justify-content: flex-end;  
};

.styleGroup2 {
  position: absolute;
  top: 92px;
  left: 0;
  width: 598px;
  height: 90px;
  border: 1px solid black;
  justify-content: center;
};

