
.style {
  display: flex;  
  position: relative;
  flex-wrap: wrap;
  width: 700px;
  height: 510px;  
  margin-bottom:  30px;
  margin-right: 20%;
  margin-left: 20%;
  justify-content: center;
  background-color: #E0E0E0;
};

.styleGroup1 {
  position: relative;
  width: 656px;
  height: 100px;
  margin-top: 1px;
  border: 1px solid gray;
  justify-content: flex-end;  
};

.styleGroup2 {
  position: relative;
  width: 700px;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
};

@media screen and (max-width: 699px) {
  .display {  
    width: 100%;
    margin: 0;
  }
  
}
